.contacts {
  display: grid;
  grid-template-columns: 67vw;
  margin-top: 151px;
  padding: 0 calc(34vw / 2);
  padding-bottom: 150px;
}

.contacts h3 {
  margin: 0 calc(50% - 287px);
  width: 555px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $dark-title-color;
}

.contacts p {
  margin: 0 calc(50% - 290px);
  margin-top: 29px;
  width: 555px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $font-black-color;
  opacity: 0.7;
}

.contacts img {
  width: 100%;
  margin-top: 38px;
}
/*стили для FireFox*/
@supports (-moz-appearance:meterbar) {
  .contacts {
    grid-template-columns: 68vw;
    margin-top: 153px;
    padding: 0 calc(34vw / 2);
  }
}
/*конец стилей для FireFox*/

@media (max-width: $tablet-max-width) {
  .contacts {
    grid-template-columns: 90.5vw;
    margin-top: 65px;
    padding: 0 calc(9.5vw / 2);
    padding-bottom: 96px;
  }

  .contacts h3 {
    margin: 0 calc(50% - 276px);
    font-size: 24px;
  }

  .contacts p {
    margin: 0 calc(50% - 320px);
    margin-top: 20px;
    width: 640px;
  }

  .contacts img {
    margin-top: 20px;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts {
    grid-template-columns: 100vw;
    margin-top: 66px;
    padding: 0;
    padding-bottom: 145px;
  }

  .contacts h3 {
    margin: 0 calc(50% - 71px);
    width: 140px;
    font-size: 18px;
  }

  .contacts p {
    margin: 0 calc(50% - 131px);
    margin-top: 20px;
    width: 260px;
  }
}
