.contacts {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: calc(50% - 470px);
  margin-right: calc(50% - 488px);
  margin-top: 147px;
}

.contacts h3 {
  margin: 0 calc(50% - 283px);
  width: 555px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $dark-title-color;
}

.contacts p {
  margin: 0 calc(50% - 285px);
  margin-top: 29px;
  width: 555px;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: $font-black-color;
  opacity: 0.7;
}

.contacts img {
  width: 100%;
  margin-top: 38px;
}

@media (max-width: $tablet-max-width) {
  .contacts {
    grid-template-columns: 90.5vw;
    margin: 0;
    padding: 0 calc(9.5vw / 2);
    margin-top: 65px;
  }

  .contacts h3 {
    margin: 0 calc(50% - 276px);
    font-size: 24px;
  }

  .contacts p {
    margin: 0 calc(50% - 320px);
    margin-top: 20px;
    width: 640px;
  }

  .contacts img {
    margin-top: 20px;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts {
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
    margin-top: 66px;
    padding: 0;
  }

  .contacts h3 {
    margin: 0 auto;
    width: 140px;
    font-size: 18px;
  }

  .contacts p {
    margin: 0 auto;
    margin-top: 20px;
    width: 260px;
  }
}
