.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 320px;
}

.feedback-form p {
  width: 100%;
  margin-top: 13px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: center;
}

.feedback-form form {
  width: 100%;
}

.feedback-form ul {
  @include reset-list-style;
}

.feedback-form label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback-form input {
  width: 100%;
  min-height: 48px;
  margin-bottom: 20px;
  padding-left: 27px;
  padding-top: 8px;
  padding-bottom: 0;
  line-height: 1;
  letter-spacing: 0.3px;
  border: 1px solid #c9ccd4;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: #c9ccd4;
  }
}

.feedback-form input::placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: $font-placeholder-color;
  opacity: 0.5;
}

.feedback-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 54px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $accent-main-color;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover-main-color;
  }
}

/*стили для FireFox*/
@supports (-moz-appearance:meterbar) {
  .feedback-form input {
    padding-left: 30px;
    padding-top: 18px;
  }
}
/*конец стилей для FireFox*/

@media (max-width: $tablet-max-width) {
  .feedback-form {
    margin: 0 auto;
    margin-top: 57px;
    width: 321px;
  }

  .feedback-form p {
    margin-bottom: 30px;
    font-size: 18px;
    color: $font-black-color;
  }

  .feedback-form input {
    padding-left: 20px;
    padding-top: 4px;
  }
  /*стили для FireFox*/
  @supports (-moz-appearance:meterbar) {
    .feedback-form input {
      padding-left: 21px;
      padding-top: 15px;
    }
  }
  /*конец стилей для FireFox*/
}


@media (max-width: $mobile-max-width) {
  .feedback-form {
    width: 288px;
    min-width: 0;
  }

  .feedback-form p {
    width: auto;
    margin-left: -5px;
    margin-bottom: 20px;
  }

  .feedback-form input {
    padding-left: 23px;
    padding-top: 4px;
  }

  .feedback-form button {
    padding-bottom: 7px;
    padding-left: 0;
  }
  /*стили для FireFox*/
  @supports (-moz-appearance:meterbar) {
    .feedback-form input {
      padding-top: 15px;
      padding-left: 26px;
    }

    .feedback-form button {
      padding-left: 6px;
      letter-spacing: -0.2px;
    }
  }
  /*конец стилей для FireFox*/
}
