.video-about-bicycles {
  position: relative;
  display: grid;
  grid-template-columns: 64.4vw;
  padding: 0 calc(34.4vw / 2);
  color: $font-white;
  background: linear-gradient(to bottom, #131314 88%, transparent 88%);
}

.video-about-bicycles h3 {
  width: 370px;
  margin: 0 auto;
  margin-top: 120px;
  padding-left: 12px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

.video-about-bicycles p {
  width: 350px;
  margin: 0 auto;
  margin-top: 21px;
  padding-left: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.video-about-bicycles img {
  width: 64.4vw;
  margin-top: 55px;
  margin-left: 8px;
}

.video-about-bicycles__button {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: calc(50% - 173px);
  left: calc(50% - 23px);
  background-color: $accent-main-color;
  background-image: url("../img/icon-play-button.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 26px 21px;
  background-size: 23%;
  border: 1px solid $accent-main-color;
  border-radius: 50%;
  z-index: 10;
}

.video-about-bicycles__button:hover::after,
.video-about-bicycles__button:focus::after {
  @include pseudo-clases;
  width: 64px;
  height: 64px;
  top: -1px;
  left: -1px;
  border: 1px solid $hover-main-color;
  border-radius: 50%;
  z-index: 1;
  background-color: $hover-main-color;
  background-image: url("../img/icon-play-button.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 26px 21px;
  background-size: 23%;
}

@media (max-width: $tablet-max-width) {
  .video-about-bicycles {
    background: linear-gradient(to bottom, #131314 82.5%, transparent 82.5%);
  }

  .video-about-bicycles h3 {
    width: 297px;
    margin-top: 70px;
    font-size: 24px;
  }

  .video-about-bicycles p {
    width: 450px;
  }

  .video-about-bicycles img {
    margin-top: 43px;
    margin-left: 5px;
  }

  .video-about-bicycles__button {
    width: 90px;
    height: 90px;
    bottom: calc(50% - 154px);
    left: calc(50% - 45px);
    background-position: 38px 31px;
  }

  .video-about-bicycles__button:hover::after,
  .video-about-bicycles__button:focus::after {
    width: 90px;
    height: 90px;
    background-position: 38px 31px;
  }
}

@media (max-width: $mobile-max-width) {
  .video-about-bicycles {
    grid-template-columns: 90.4vw;
    padding: 0 calc(6.4vw / 2);
    background: linear-gradient(to bottom, #131314 88%, transparent 88%);
  }

  .video-about-bicycles h3 {
    width: 288px;
    margin-top: 83px;
    padding-left: 0;
  }

  .video-about-bicycles p {
    width: 297px;
    padding-left: 0;
  }

  .video-about-bicycles img {
    width: 89.4vw;
    margin-top: 52px;
  }

  .video-about-bicycles__button {
    width: 65px;
    height: 65px;
    bottom: calc(50% - 168px);
    left: calc(50% - 34px);
    background-position: 26px 21px;
  }

  .video-about-bicycles__button:hover::after,
  .video-about-bicycles__button:focus::after {
    width: 65px;
    height: 65px;
    background-position: 26px 21px;
  }
}
